.glassHolder {
    width: 320px;
    corner-shape: squircle;
    height: 400px;
    border-radius: 61px;
    background-color: #fff2;
    box-shadow: inset 2px 2px 1px #ffffff63, inset -2px -2px 0px #fff3, 5px 20px 50px #0002, -5px -10px 25px #00000001;
    transform-style: preserve-3d;
    transition: all .25s;
    /* backdrop-filter: blur(10px);*/
}

.glassHolder * {
    pointer-events: none;
}

.glassBg {
    transform-style: preserve-3d;
    /* perspective: 1000px; */

}

.glassBg .floatOnGlass {
    position: absolute;
    transform: translateZ(40px);
}

.glassBg .glassFloat {
    padding: 20px;
    border-radius: 200px;
    backdrop-filter: blur(4px);
    background-color: #fff0;
    box-shadow: inset 1px 1px 0px #ffffff5e, inset -1px -1px 0px #fff3, 5px 10px 30px #0002, -5px -10px 25px #00000001;
    corner-shape: squircle;
}


.glassBg .photo {
    right: 15%;
    top: -55px;
    width: 140px;
    height: 140px;


    aspect-ratio: 1/1;
}

.glassBg .photo img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    corner-shape: squircle;
    border-radius: 36px;
}

.glassBg .photo.p2 {
    left: -30px;
    top: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.glassBg .photo.p2 img {
    opacity: .6;
    position: absolute;
    border-radius: 0;
    width: 60px;
    transform: translateX(-100px);
    opacity: 0;
    transition: all .25s;
}

.glassBg .photo.p2 img.active {
    display: block;

    transform: translateX(0px);
    opacity: .6;
}

.glassBg .photo.p1 {
    transform: translateZ(80px);
}

.glassBg .descText {
    top: 192px;
    left: 17%;
    padding: 30px;
    width: 303px;
    text-align: center;
    line-height: 1.6em;
    transform: translateZ(120px);
}
.glassBg .descText .introPara span{
    border-radius: 2px;
    /* color: #fff; */
    /* padding: 2px 3px; */
    font-weight: bold;
}

.glassBg .introTxt {
    FONT-SIZE: 2EM;
    FONT-WEIGHT: BOLD;
    COLOR: #ff0082;
    top: 122px;
    left: 88px;
    width: 356px;
    transform: translateZ(100px);
}



.glassBg .introTxt span {
    position: absolute;
    border-radius: 0;
    transition: all .25s;
}
.glassBg .introTxt span b,
.glassBg .introTxt span strong{
    opacity: 0;
    transition: none;
    display: inline-block;
}
.glassBg .introTxt span b{
    transform: perspective(500px) translateY(30px) rotateX(45deg);
}
.glassBg .introTxt span strong{
    transform: perspective(500px) translateY(-30px) rotateX(-45deg);
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 4px;
}

.glassBg .introTxt span.active b,
.glassBg .introTxt span.active strong{
    transition: all .25s;
    transform: perspective(500px) translateY(0px) rotateX(0deg);
    opacity: 1;
}