.glassHolder {
    width: 320px;
    corner-shape: squircle;
    height: 400px;
    border-radius: 61px;
    background-color: #fff2;
    box-shadow: inset 2px 2px 1px #ffffff63, inset -2px -2px 0px #fff3, 5px 20px 50px #0002, -5px -10px 25px #00000001;
    transform-style: preserve-3d;
    transition: all .25s;
    /* backdrop-filter: blur(10px);*/
}

.glassHolder * {
    pointer-events: var(--pointEv);
}

.glassBg {
    transform-style: preserve-3d;
    /* perspective: 1000px; */

}

.glassBg .floatOnGlass {
    position: absolute;
    transform: translateZ(40px);
}

.glassBg .glassFloat {
    padding: 20px;
    border-radius: 200px;
    backdrop-filter: blur(4px);
    background-color: #fff0;
    box-shadow: inset 1px 1px 0px #ffffff5e, inset -1px -1px 0px #fff3, 5px 10px 30px #0002, -5px -10px 25px #00000001;
    corner-shape: squircle;
}


.glassBg .photo {
    right: 15%;
    top: -55px;
    width: 140px;
    height: 140px;


    aspect-ratio: 1/1;
}

.glassBg .photo img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    corner-shape: squircle;
    border-radius: 36px;
}

.glassBg .photo.p2 {
    left: -30px;
    top: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.glassBg .photo.p2 img {
    opacity: .6;
    position: absolute;
    border-radius: 0;
    width: 60px;
    transform: translateX(-100px);
    opacity: 0;
    transition: all .25s;
}


.glassBg .photo.p2 img.active {
    display: block;

    transform: translateX(0px);
    opacity: .6;
}

.glassBg .photo.p1 {
    transform: translateZ(80px);
}

.glassBg .descText {
    top: 192px;
    left: 17%;
    padding: 30px;
    width: 303px;
    text-align: center;
    line-height: 1.4em;
    font-style: 0.8em;
    transform: translateZ(120px);
}

.glassBg .descText .introPara span {
    border-radius: 2px;
    /* color: #fff; */
    /* padding: 2px 3px; */
    font-weight: bold;
}

.glassBg .introTxt {
    FONT-SIZE: 2EM;
    FONT-WEIGHT: BOLD;
    COLOR: #ff0082;
    top: 122px;
    left: 88px;
    width: 380px;
    transform: translateZ(100px);
}



.glassBg .introTxt span {
    position: absolute;
    border-radius: 0;
    transform-style: preserve-3d;
}

.glassBg .introTxt span b,
.glassBg .introTxt span strong {
    opacity: 0;
    transition: none;
    display: inline-block;
}

.glassBg .introTxt span b {
    transform: perspective(200px) translateY(30px) rotateX(-90deg);
}

.glassBg .introTxt span strong {
    transform: perspective(200px) translateY(-30px) rotateX(90deg);
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 4px;
}

.glassBg .introTxt span.active b,
.glassBg .introTxt span.active strong {
    transition: all .5s;
    transform: perspective(200px) translateY(0px) rotateX(0deg);
    opacity: 1;
}

/* nav */
a {
    color: 000;
    text-decoration: none;
}

.menuItem img {
    width: 50px;
    height: 50px;
}

.navBox {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: max-content;
}

.navBox .menuItem {
    margin: 10px 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.navBox .img {
    margin-right: 20px;
    opacity: .8;
}

.navBox .txt {
    font-size: 2em;
    /* font-family: Shizuru; */
    color: rgb(0, 0, 0, .7);
}



@media screen and (max-width: 600px) {
    .glassBg .photo {
        right: 9%;
        top: -60px;
    }

    .glassBg .photo.p2 {

        top: -14px;
    }

    .glassBg .introTxt {
        left: 13px;
        font-size: 1.8em;
        width: 345px;
    }
}

@media screen and (max-width: 800px) {

    .nav{
        position: fixed;
        bottom: 20px;
    }
    .navBox {
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: max-content;
        padding: 10px 11px;
        background: linear-gradient(90deg, transparent, #0000001a, transparent);
        border-radius: 99px;
        corner-shape: squircle;
        box-shadow: inset 1px 1px 1px #ffffffbf, inset -1px -1px 1px #ffffff73, 0 0 40px #00000017;
        backdrop-filter: blur(5px);
        position: fixed;
    }
    /* .navBox .shadow{
        position: absolute;
        background: #fff;
        width: 30px;
        height: 50px;
        filter: blur(5px);
        background: conic-gradient(#0000 90deg, rgb(255, 255, 255) , #0000 270deg);
    } */

    .navBox .txt {
        font-size: .8em;
        display: none;
    }

    .navBox .menuItem {
        margin: 0px 3px;
        padding: 0px 8px;
        flex-flow: column;
    }

    .navBox .img {
        margin-right: 0px;

    }

    .menuItem img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-height: 800px) {
    .socialPan {
        margin-top: 85px;
    }
}

@media screen and (max-height: 700px) {
    .socialPan {
        margin-top: 85px;
    }

    #main #nav {
        height: 10%;
    }

    #main #work {
        height: 90%;
    }
}